.background {
	background-image: url("assets/images/background.jpg");
}

#contents {
	color: white;
	font-size: 26px;
	font-weight: 700;
	text-align: center;
}

.breaker {
	border: 2px solid white;
}

#label {
	color: red;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

.stage {
	text-align: center;
}
footer { 
	width: 100%;
	height: 50px;
  	padding-top: 40px;
	color: #fff;
  	background: #666666;
	float: left;
	border-top: 5px solid #4aaaa5;
	text-align: center;
	font-size: 14px;
	z-index: 2;
}

p {
	margin: auto;
	line-height: 1.3;
	font-size: 18px;
	font-weight: normal;
}

#question-block {
	display: none;
}

#correct, #wrong, #results, #timeout {
	display: none;
}


#start-block {

}

#title {
	text-align: center;
	color: red;
}